.body{
  background-color: #EBEBEB;
  margin: 0;
}
#intro{
  background-image: linear-gradient( #afafaf, white);
}
#naving{
  background-color: #afafaf;
}
#title{
  font-family: 'Roboto', sans-serif;
}
#paragraph{
  font-family: 'Raleway', sans-serif;
}
#footer{
  background-color: #afafaf;
}
.test{
  background-color: #afafaf;
}
ul {
  list-style-type: none;
  width: 100%;
  top: 0;
  overflow: hidden;
  margin: 0.5%;
  z-index: 100;
}
#nav{
  width: 100%;
  position:absolute;
  overflow:hidden;
}
li{
  float: left;
  padding:5px;
}
li a:hover {
  color:rgba(170, 170, 170, 0.685);
}
#pic{
  margin-left: auto;
  margin-right: auto;
}