.body{
  background-color: #EBEBEB;
}
#intro{
  background-image: linear-gradient( #afafaf, white);
}
#naving {
    color: black;
  }
#title{
  font-family: 'Roboto', sans-serif;
}
#paragraph{
  font-family: 'Raleway', sans-serif;
}
#footer{
  background-color: #737475;
}
.test{
  background-color:black;
}