.body{
  background-color: #EBEBEB;
}
#intro{
  background-image: linear-gradient( #afafaf, white);
}
#naving {
    color: black;
  }
#title{
  font-family: 'Roboto', sans-serif;
}
#paragraph{
  font-family: 'Raleway', sans-serif;
}
#footer{
  background-color: #737475;
}
.test{
  background-color: #afafaf;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
li{
  float: left;
  padding:5px;
}
li a:hover {
  color:rgb(139, 139, 139);
}